<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Olá, Mundo!</title>
  <!-- Link para o CSS do Bootstrap -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='styles.css')  }}"rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card text-center">
          <div class="card-body">
            <h1 class="card-title">{{message}}</h1>
            <p class="card-text">Este é um exemplo de página HTML gerada com Flask.</p>
            <a href="#" class="btn btn-primary">Saiba mais</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Link para os scripts JavaScript do Bootstrap (opcional) -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>